.comment-item {
  border: 1px solid rgba(223, 223, 223, 0.37);
}

.icon-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
}

.comment-Name {
  color: rgba(223, 223, 223, 0.45);
  font-size: small;
  
}

.comment-Date {
  color: rgba(223, 223, 223, 0.35);
  font-size: small;
  line-height: 0%;
}


