.toolbar {
    background-color: #4b0082;
    border-radius: 5px;
    color: white;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .demo-row-is-clicked {
    background: rgb(242, 237, 98, 70%);
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    //display: flex;
  }