<div class="container-fluid">

  <div class="row">
    <div class="col-7">
      <h2>Project Mangement</h2>
    </div>
    <div class="col-5">
      <div class="d-flex justify-content-end">
        <button mat-raised-button color="warn" (click)="demoLogin()">Demo Login</button>
      </div>
    </div>
  </div>

  <div class="row mat-elevation-z4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Application Infrastructure</h2>
        <p class="contect-block">This website build on <strong>Java 8 Spring Boot</strong> &
          <strong>Angular 13</strong>. Using Angular Material Design, <a href="https://material.angular.io/"
            target="blank">https://material.angular.io/</a> and production-grade Spring based Application <a
            href="https://spring.io/projects/spring-boot" target="blank">https://spring.io/projects/spring-boot</a>.
          This is a freelance project that I have developed to better understand
          Java's most popular Spring Boot as a RESTFUL API and my potential delivery capabilities.
        </p>
        <div class="mt-4"></div>
        <hr>

        <h2 class="card-title">Java Spring Boot</h2>
        <p class="content-block">a Restful API build with</p>
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <th scope="row">Spring Security</th>
              <td>generating JWT token with authentication, validity and expiry</td>
            </tr>
            <tr>
              <th scope="row">JPA Hibernate</th>
              <td>to create Entities that communicate to data-source via Repositories.</td>
            </tr>
            <tr>
              <th scope="row">JDBC</th>
              <td>Java Database Connectivity (JDBC), an interface to exchange data with MS SQL.</td>
            </tr>
            <tr>
              <th scope="row">MS SQL</th>
              <td>a relational database management system to store data.</td>
            </tr>
            <tr>
              <th scope="row">JUnit 5 Testing</th>
              <td>developer-side testing on the JVM as the API is being build.</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>

  <div class="row mt-4 mat-elevation-z4">
    <div class="card">
      <div class="row g-0">
        <div class="col-lg-4">
          <img src="../../../assets/tasklist.PNG" class="img-fluid rounded-start mt-2">
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <h3 class="card-title"><strong>Task List</strong></h3>
            <p class="content-block">
              a todo-table that keeps track of immediate tasks, deliveries and deadlines. A useful tool to
              better manage weekly expectations set by team.
            </p>
            <p class="content-block">
              Task gets highlighted when due-date is less than a week away.
            </p>
            <p class="content-block">
              Enhancements could include a notification or email sent when task is due.
            </p>
            <div class="mt-4">
              <p class="d-flex justify-content-end text-muted"><em>Built using Mat-Table from Angular Material
                  Design</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mat-elevation-z4">
    <div class="card">
      <div class="row g-0">
        <div class="col-lg-4">
          <div class="card-body">
            <h3 class="card-title"><strong>Kanban</strong></h3>
            <p class="content-block">
              Customized kanban to keep project deliveries and task status up-to-date.
            </p>
            <p class="content-block">
              Drag & drop approach to task management. Team mates update their task status as they work towards
              delivery. Every progress recorded with time-stamp.
            </p>
            <p class="content-block">
              Teams could use this kanban for their daily Sprint meetings. Project Lead would have a <strong>Bird's
                Eye</strong> view on road-blocks any team mate is facing.
            </p>
            <p class="content-block">
              Enhancements could include a statistical chart on team's average delivery time, drilling down to
              individual average completion timeline.
            </p>
            <div class="mt-8">
              <p class="d-flex justify-content-end text-muted"><em>Built using CDK Drag-Drop from Angular Material
                  Design</em></p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <img src="../../../assets/kanban.PNG" class="img-fluid rounded-start mt-2">
        </div>
      </div>
    </div>
  </div>



</div>