<div class="container">
    <div class="row">

        <p>Access the site using various roles</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>UserName</th>
                    <th>PassWord</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Project Lead</td>
                    <td>harry</td>
                    <td>0000</td>
                </tr>
                <tr>
                    <td>Team Lead</td>
                    <td>arvin</td>
                    <td>0000</td>
                </tr>
                <tr>
                    <td>Team Mate</td>
                    <td>mark</td>
                    <td>0000</td>
                </tr>
            </tbody>
        </table>
        <p>All team mates userName are their firstName. Passwords are always '0000'</p>
        <p>Explore the site. Hope you would enjoy as much as I had developing it.</p>
    </div>
</div>