.mat-card-avatar {
    height: 70px;
    width: 70px;
}

.angular-header-image {
    background-image: url("../../../assets/angular.png");
    background-size: cover;
}
.dotNet-header-image {
    background-image: url("../../../assets/dotNET.png");
    background-size: cover;
}
.springBoot-header-image {
    background-image: url("../../../assets/springBoot.jpg");
    background-size: cover;
}
.SQL-header-image {
    background-image: url("../../../assets/SQL.JPG");
    background-size: cover;
}
.javascript-header-image {
    background-image: url("../../../assets/javaScript.png");
    background-size: cover;
}
.github-header-image {
    background-image: url("../../../assets/github.png");
    background-size: cover;
}


