<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card class="mat-elevation-z4">
                <mat-card-title>About Me</mat-card-title>
                <div class="mt-4"></div>
                <mat-card-content>
                    <p>
                        An experienced technical lead with 10 years of experience delivering software solutions.
                        Covering industries from Financial Sector, Pharmaceutical, Casino, Manufacturing to Supply
                        Chain. I have lead, designed and developed more than 6 software life cycle completion. Aspire to
                        lead and deliver next generation software solutions.
                    </p>
                    <p>
                        From years of experience, I have worked on projects using frameworks and platforms listed
                        here. Looking forward to learning more, building my portfolio as I progress.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-4">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar class="angular-header-image"></div>
                    <mat-card-title class="mt-3">Angular</mat-card-title>
                    <mat-card-subtitle>Frontend</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <p>
                        From informative websites to web-applications, I have worked on projects that uses Angular
                        versions 4 to 13. By far, the best user experience on many leading browsers.
                    </p>
                    <p class="d-flex justify-content-end p-3 text-muted"><em>6 years experience</em></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6 mt-4">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar class="dotNet-header-image"></div>
                    <mat-card-title class="mt-3">Microsoft .NET</mat-card-title>
                    <mat-card-subtitle>Backend</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <p>
                        Many years of experience building MVC to RESTful APIs in .NET domain. Using Entity
                        Framework to communicate with dataSource and Razor views to generate web-pages.
                    </p>
                    <p class="d-flex justify-content-end p-3 text-muted"><em>10 years experience</em></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6 mt-4">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar class="springBoot-header-image"></div>
                    <mat-card-title class="mt-3">Java Spring Boot</mat-card-title>
                    <mat-card-subtitle>Backend</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <p>
                        This web-application is supported using Java SpringBoot as backend. Using the latst features
                        from Spring Security, JPA Hibernate, JDBC and JUnit 5.
                    </p>
                    <p class="d-flex justify-content-end p-3 text-muted"><em>1 year experience</em></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6 mt-4">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar class="SQL-header-image"></div>
                    <mat-card-title class="mt-3">Microsoft SQL</mat-card-title>
                    <mat-card-subtitle>Data Source</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <p>
                        Relational mapping between entities in hierarchy. Consolidate data with high
                        level of integrity with standard query and Stored-Procedures.
                    </p>
                    <p class="d-flex justify-content-end p-3 text-muted"><em>10 years experience</em></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6 mt-4">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar class="javascript-header-image"></div>
                    <mat-card-title class="mt-3">Javascript</mat-card-title>
                    <mat-card-subtitle>Frontend</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <p>
                        Ability to create interactive web-content using javascript. Both in .NET and Angular framework.
                        A Handy tool to elevate site presentation.
                    </p>
                    <p class="d-flex justify-content-end p-3 text-muted"><em>7 years experience</em></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6 mt-4">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar class="github-header-image"></div>
                    <mat-card-title class="mt-3">GitHub</mat-card-title>
                    <mat-card-subtitle>Code Hosting</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    <p>
                        A fluid motion to control source code versioning across developers and publishing policies.
                        Logging various versions to fallback.
                    </p>
                    <p class="d-flex justify-content-end p-3 text-muted"><em>5 years experience</em></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <p>Reach out to me at : <a href="mailto:'sp0210@hotmail.com'">sp0210@hotmail.com</a></p>
        </div>
    </div>
</div>